In [5]:
import sqlalchemy
from sqlalchemy import create_engine
engine=create_engine('sqlite:///Invoice.db', echo=True)
from sqlalchemy import MetaData
meta=MetaData()

In [6]:
from sqlalchemy import Table,Column,Integer,String,MetaData
meta=MetaData()

customerr=Table(
    'customerr',meta,
    Column('Invoice_Id',Integer,primary_key=True),
    Column('Customer_Id',Integer,primary_key=True),
    Column('Invoice_Date',Integer),
    Column('Billing_Address',String),
    Column('Billing_City',String),
    Column('Billing_State',String),
    Column('Billing_Country',String),
    Column('Billing_Postal_Code',Integer,primary_key=True),
    
)

In [7]:
meta.create_all(engine)

2019-10-12 20:42:44,686 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-10-12 20:42:44,689 INFO sqlalchemy.engine.base.Engine ()
2019-10-12 20:42:44,697 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-10-12 20:42:44,699 INFO sqlalchemy.engine.base.Engine ()
2019-10-12 20:42:44,702 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("customerr")
2019-10-12 20:42:44,705 INFO sqlalchemy.engine.base.Engine ()
2019-10-12 20:42:44,712 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customerr (
	"Invoice_Id" INTEGER NOT NULL,
	"Customer_Id" INTEGER NOT NULL,
	"Invoice_Date" INTEGER,
	"Billing_Address" VARCHAR,
	"Billing_City" VARCHAR,
	"Billing_State" VARCHAR,
	"Billing_Country" VARCHAR,
	"Billing_Postal_Code" INTEGER NOT NULL,
	PRIMARY KEY ("Invoice_Id", "Customer_Id", "Billing_Postal_Code")
)


2019-10-12 20:42:44,714 INFO sqlalchemy.engine.base.Engine ()
2019-10-12 20:42:44,990 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
ins=customerr.insert()
ins=customerr.insert().values(Invoice_Id='1234',Customer_Id='1111',Invoice_Date='1/1/2019',Billing_Address='400/Renuka socitey',Billing_City='Mumbai',Billing_State='Maharashtra',Billing_Country='India',Billing_Postal_Code='10001')
conn=engine.connect()
result=conn.execute(ins)

2019-10-12 20:43:05,277 INFO sqlalchemy.engine.base.Engine INSERT INTO customerr ("Invoice_Id", "Customer_Id", "Invoice_Date", "Billing_Address", "Billing_City", "Billing_State", "Billing_Country", "Billing_Postal_Code") VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2019-10-12 20:43:05,282 INFO sqlalchemy.engine.base.Engine ('1234', '1111', '1/1/2019', '400/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10001')
2019-10-12 20:43:05,290 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
conn.execute(customerr.insert(),[
  {'Invoice_Id':'1235','Customer_Id':'2222','Invoice_Date':'1/1/2019','Billing_Address':'401/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10002'},
  {'Invoice_Id':'1236','Customer_Id':'3333','Invoice_Date':'1/1/2019','Billing_Address':'402/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10003'},
  {'Invoice_Id':'1237','Customer_Id':'4444','Invoice_Date':'1/1/2019','Billing_Address':'403/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10004'},
  {'Invoice_Id':'1238','Customer_Id':'5555','Invoice_Date':'1/1/2019','Billing_Address':'404/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10005'},
  {'Invoice_Id':'1239','Customer_Id':'6666','Invoice_Date':'1/1/2019','Billing_Address':'405/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10006'},
  {'Invoice_Id':'1240','Customer_Id':'7777','Invoice_Date':'1/1/2019','Billing_Address':'406/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10007'},
  {'Invoice_Id':'1241','Customer_Id':'8888','Invoice_Date':'1/1/2019','Billing_Address':'407/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10008'},
  {'Invoice_Id':'1242','Customer_Id':'9999','Invoice_Date':'1/1/2019','Billing_Address':'408/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10009'},
  {'Invoice_Id':'1243','Customer_Id':'1010','Invoice_Date':'1/1/2019','Billing_Address':'409/Renuka socitey','Billing_City':'Mumbai','Billing_State':'Maharashtra','Billing_Country':'India','Billing_Postal_Code':'10010'},  
])

2019-10-12 20:43:11,414 INFO sqlalchemy.engine.base.Engine INSERT INTO customerr ("Invoice_Id", "Customer_Id", "Invoice_Date", "Billing_Address", "Billing_City", "Billing_State", "Billing_Country", "Billing_Postal_Code") VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2019-10-12 20:43:11,418 INFO sqlalchemy.engine.base.Engine (('1235', '2222', '1/1/2019', '401/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10002'), ('1236', '3333', '1/1/2019', '402/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10003'), ('1237', '4444', '1/1/2019', '403/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10004'), ('1238', '5555', '1/1/2019', '404/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10005'), ('1239', '6666', '1/1/2019', '405/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10006'), ('1240', '7777', '1/1/2019', '406/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10007'), ('1241', '8888', '1/1/2019', '407/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10008'), ('1242', '9999', '1/1/2019', '408/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10009'), ('1243', '1010', '1/1/2019', '409/Renuka socitey', 'Mumbai', 'Maharashtra', 'India', '10010'))
2019-10-12 20:43:11,424 INFO sqlalchemy.engine.base.Engine COMMIT